<form method="post" action="{{ path('app_zoneliv_delete', {'id': zoneliv.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ zoneliv.id) }}">
    <button class="btn">Delete</button>
</form>
