{% extends 'base.html.twig' %}

{% block title %}Edit Prix{% endblock %}

{% block body %}
    <h1>Edit Prix</h1>

    {{ include('prix/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_prix_index') }}">back to list</a>

    {{ include('prix/_delete_form.html.twig') }}
{% endblock %}
