{% extends 'base.html.twig' %}

{% block title %}New Prix{% endblock %}

{% block body %}
    <h1>Create new Prix</h1>

    {{ include('prix/_form.html.twig') }}

    <a href="{{ path('app_prix_index') }}">back to list</a>
{% endblock %}
