{% extends 'base.html.twig' %}

{% block title %}Edit PointRelais{% endblock %}

{% block body %}
    <h1>Edit PointRelais</h1>

    {{ include('point_relais/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_point_relais_index') }}">back to list</a>

    {{ include('point_relais/_delete_form.html.twig') }}
{% endblock %}
