{% extends 'base.html.twig' %}

{% block title %}New PointRelais{% endblock %}

{% block body %}
    <h1>Create new PointRelais</h1>

    {{ include('point_relais/_form.html.twig') }}

    <a href="{{ path('app_point_relais_index') }}">back to list</a>
{% endblock %}
